@import "./variables";
@import "./setup";

// $delft_blue: #2F3061;
// $naples_yellow: #FFE66D;
// $jet_black: #343434;
// $mint_cream: #F7FFF7;
/// air_blue

.grid-container {
    position: absolute;
    background-color: $jet_black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-rows: 0.20fr 1fr 0.15fr;
    grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
}

header {
    background-color: $naples_yellow;
    grid-area: header;
}


nav{
    background-color: $delft_blue;
    grid-area: nav;
}

main {
    background-color: $mint_cream;
    grid-area: main;
}

aside {
    background-color: $air_blue;
    grid-area: aside;
}

footer {
    background-color: burlywood;
    grid-area: footer;
}

@media (min-width: 471px) { /// stay green until ... or this is true until 200px


}

@media (max-width: 600px) { /// stay green until ... or this is true until 200px. whaterver is inside this media query needs to 
    /// be seen until it past the max width. inside the query is true until the max width 
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer"
        ;
    }
}